{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h2>Your Transaction History</h2>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Transaction Type</th>
                <th>Stock Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction['transaction_type'] }}</td>
                    <td>{{ transaction['symbol'] }}</td>
                    <td>{{ transaction['shares'] }}</td>
                    <td>${{ transaction['price'] }}</td>
                    <td>{{ transaction['timestamp'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
