{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <h2>Sell Stock</h2>
    
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Select Stock to Sell:</label>
            <select name="symbol" class="form-select" required>
                <option value="" disabled selected>Select a stock</option>
                {% for stock in holdings %}
                    <option value="{{ stock['symbol'] }}">{{ stock['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Number of Shares" type="number" min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
